#wrapper{
	width: 990px;
}

#sidebarDB{
	margin-left: 20px;
	width: 160px;
	float: left;
	background-color:silver;
	/*float:right;*/
}

#content{
	margin-top: 40px;
	width: 790px;
	padding-left: 20px;
	float: right;
	background-color:orange;
	/*float: left;*/
}



table { 
	font: 12px/24px Verdana, Arial, Helvetica, sans-serif; 
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 20px;
}

th { 
	border: 1px solid #CCC; 
	padding: 0 0.5em;
	padding-left: 15px;
	padding-right: 20px;
	text-align: center; 
	background-color:blue; 
} 

td { 
	border: 1px solid #CCC; 
	padding: 0 0.5em; 
	background-color:red; 
}